.container{
  position: relative;
  width: 100%;
}
app-header{
  width: inherit;
  margin-bottom: 1rem;
}

/* Main */
.main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  transition: .3s all cubic-bezier(.65,.05,.36,1);
}
.main.active{
  width: calc(100% - 80px);
  left: 80px;
}

/* responsive design */
@media (max-width: 991px) {

  .navigation{
    left: -300px;
  }
  .navigation.active{
    width: 300px;
    left: 0px;
  }
  .main{
    width: 100%;
    left: 0;
  }
  .main.active{
    left: 300px;
  }
  .cardBox{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
.details{
  grid-template-columns: repeat(1, 1fr);
}
.recentOrders{
  overflow-x: auto;
}
.status.inprogress{
  white-space: nowrap;
}
}
@media (max-width: 480px) {
.cardBox{
  grid-template-columns: repeat(1, 1fr);
}
.cardHeader h2{
  font-size: 20px;
}
.user{
  min-width: 40px;
}
.navigation{
  width: 100%;
  left: -100%;
  z-index: 1000;
}
.navigation.active{
  width: 100%;
  left: 0;
}
.toggle{
  z-index: 10001;
}
.main.active .toggle{
  position: fixed;
  right: 0;
  left: initial;
  color: #fff;
}
}

