<div class="card">

  <div class="cardHeader">
    <h2>Dividendos Recebidos</h2>

    <div class="cardHeader-rightItem">

      <label for="selectAno">Escolha um Ano:</label>

      <select [(ngModel)]="yearSelected" (change)="onSelect()">
        <option value="0">Selecione um item</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
      </select>

    </div>
  </div>

  <div class="card-body">

    <table>
      <thead>
        <tr>
          <td class="text-align-center">Mês/Ano</td>
          <td class="text-align-right">Valor</td>
          <td class="text-align-center">Status</td>
        </tr>
      </thead>

      <tbody *ngIf="dividendos.length > 0; else noContent">

        <tr *ngFor="let dividendo of dividendos">
          <td class="text-align-center">
            {{ dividendo.mes | mesAbreviado}}/{{dividendo.ano}}
          </td>
          <td class="text-align-right" [ngClass]="{'text-alert': dividendo.valor < 0}">
            {{ dividendo.valor | currency }}
            <ion-icon name="{{ dividendo.valor < 0 ? 'trending-down' : 'trending-up' }}"
              [ngClass]="dividendo.valor < 0 ? 'text-alert' : 'text-success'">
            </ion-icon>
          </td>
          <td class="text-align-center">
            <span class="status " [ngClass]="dividendo.valor < 0 ? 'alert' : 'success'">
              {{ dividendo.valor < 0 ? 'Negativo' : 'Positivo' }} </span>
          </td>
        </tr>

      </tbody>

      <tfoot class="card-footer">
        <tr>
          <td>Total:</td>
          <td class="text-align-right">
            {{totalValueDividendos | currency:"BRL" }}
          </td>
          <td></td>
        </tr>
      </tfoot>

    </table>

  </div>

</div>

<ng-template #noContent>
  <tr>
    <td colspan="3">Nenhum conteúdo foi encontrado!
    <td>
  </tr>
</ng-template>
