/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// /* Angular material theme */
@import '@angular/material/theming';
@include mat-core();
// Descomente a linha abaixo para um custom theme
// $custom-app-primary: mat-palette($mat-blue);
// $custom-app-secondary: mat-palette($mat-indigo, A200, A400, 700);
// $custom-app-warn: mat-palette($mat-red);
// $custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary,  $custom-app-warn);
// @include angular-material-theme($custom-theme);

// *** Reset CSS
*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
// *** Reset CSS

:root{
  --blue: #287bff;
  --white: #fff;
  --white2: #f7f7f7;
  --grey: #f5f5f5;
  --black1: #222222;
  --black2:#999;
  --status-background-alert: #f00;
  --status-background-warning: #f9ca3f;
  --status-background-success: #8de02c;
  --status-background-inprogress: #1795ce;
  --text-success: #8de02c;
  --text-alert: #f00;
  --text-warning:#f9ca3f;
  --text-inprogress: #1795ce;
}

html, body{
  height: 100vh;
  width: 100vw;
}
body{
  min-height: 100vh;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.7px;
  background: var(--white2);
}
// Align Text
.text-align-right{
  text-align: right;
}
.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}

/* status */
.status{
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.success{
  background: var(--status-background-success);
  color: var(--white);
}
.status.warning{
  background: var(--status-background-warning);
  color: var(--white);
}
.status.alert{
  background: var(--status-background-alert);
  color: var(--white);
}
.status.inprogress{
  background: var(--status-background-inprogress);
  color: var(--white);
}
/* status text*/
.text-success{
  color: var(--text-success)
}
.text-warning{
  color: var(--text-warning)
}
.text-alert{
  color: var(--text-alert)
}
.text-inprogress{
  color: var(--text-inprogress)
}
