<div class="card">

  <div class="cardHeader">
    <h2>Lucro Ativos Vendidos</h2>

    <div class="cardHeader-rightItem">

      <label for="selectAno">Escolha um Ano:</label>

      <select  [(ngModel)]="yearSelected" (change)="onSelect()">
          <option value="0">Selecione um item</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
      </select>

    </div>
  </div>

  <div class="card-body">

    <table aria-label="Tabela Lucro Ativos Vendidos">
      <thead>
        <tr>
          <th class="text-align-center">Mês/Ano</th>
          <th class="text-align-right">Lucro</th>
          <th class="text-align-center">Status</th>
        </tr>
      </thead>

      <tbody *ngIf="vendas.length > 0; else noContent" >

          <tr *ngFor="let venda of vendas" >
            <td class="text-align-center">
              {{ venda.mes | mesAbreviado}}/{{venda.ano}}
            </td>
            <td class="text-align-right">
              {{ venda.lucro | currency }}
              <ion-icon  name="{{ venda.lucro < 0 ? 'trending-down' : 'trending-up' }}"
                        [ngClass]="venda.lucro < 0 ? 'text-alert' : 'text-success'">
              </ion-icon>
            </td>
            <td class="text-align-center">
              <span class="status "
                    [ngClass]="venda.lucro < 0 ? 'alert' : 'success'">

                {{ venda.lucro < 0 ? 'Negativo' : 'Positivo' }}
              </span>
            </td>
          </tr>

      </tbody>

      <tfoot>
        <tr>
          <td>Total:</td>
          <td class="text-align-right">
            {{totalValueVendas | currency:"BRL" }}
          </td>
          <td></td>
        </tr>
      </tfoot>

    </table>

  </div>

</div>

<ng-template #noContent>
  <tr>
    <td colspan="3">Nenhum conteúdo foi encontrado!<td>
  </tr>
</ng-template>

