<div class="details">

  <app-vendas-list
   *ngIf="vendas$ | async as vendas; else loading"
    (eventSelectedYear)="receiverYearSelected($event)"
    [vendas]="vendas"
    [yearSelected]="yearSelected">
  </app-vendas-list>

  <div>
    <app-vendas-chart-bar
      *ngIf="vendas$ | async as vendas; else loading"
      [yearSelected]="yearSelected"
      [vendas]="vendas">
    </app-vendas-chart-bar>

  </div>

  <ng-template #loading>
    <app-load-spinner-card></app-load-spinner-card>
  </ng-template>
</div>
